<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ChocoAttackLeftBack01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{26,46}</string>
                <key>textureRect</key>
                <string>{{302,35},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackLeftBack02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.55102,0.435897}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{103,1},{49,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackLeftBack03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{205,1},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackLeftFront01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.333333,0.444444}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{175,42},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackLeftFront02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.489796,0.404762}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackLeftFront03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.489796,0.404762}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{1,45},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackRightBack01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,46}</string>
                <key>spriteSourceSize</key>
                <string>{26,46}</string>
                <key>textureRect</key>
                <string>{{330,35},{26,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackRightBack02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.44898,0.435897}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,39}</string>
                <key>spriteSourceSize</key>
                <string>{49,39}</string>
                <key>textureRect</key>
                <string>{{154,1},{49,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackRightBack03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.478261,0.485714}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{253,1},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackRightFront01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,45}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{583,1},{27,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackRightFront02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{52,1},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoAttackRightFront03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{52,45},{49,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoDefeatLeftBack01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{83,89},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoDefeatLeftBack02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{204,48},{39,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoDefeatLeftFront01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{1,89},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoDefeatLeftFront02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{462,34},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoDefeatRightBack01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{123,89},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoDefeatRightBack02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,29}</string>
                <key>spriteSourceSize</key>
                <string>{39,29}</string>
                <key>textureRect</key>
                <string>{{421,34},{39,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoDefeatRightFront01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,36}</string>
                <key>spriteSourceSize</key>
                <string>{39,36}</string>
                <key>textureRect</key>
                <string>{{42,89},{39,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoDefeatRightFront02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{499,34},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveLeftBack01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.548387,0.255814}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{493,1},{31,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoMoveLeftBack02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.53125,0.255814}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{538,1},{32,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoMoveLeftBack03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.551724,0.238095}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{255,83},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveLeftBack04.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.483871,0.304348}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{397,1},{31,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoMoveLeftFront01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{30,41}</string>
                <key>textureRect</key>
                <string>{{317,83},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveLeftFront02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{349,83},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveLeftFront03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{301,1},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoMoveLeftFront04.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{34,45}</string>
                <key>textureRect</key>
                <string>{{103,42},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveRightBack01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{269,38},{31,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveRightBack02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,43}</string>
                <key>spriteSourceSize</key>
                <string>{32,43}</string>
                <key>textureRect</key>
                <string>{{235,38},{32,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveRightBack03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,42}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{286,83},{29,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveRightBack04.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{445,1},{31,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoMoveRightFront01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,41}</string>
                <key>spriteSourceSize</key>
                <string>{30,41}</string>
                <key>textureRect</key>
                <string>{{358,35},{30,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveRightFront02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{390,35},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoMoveRightFront03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{349,1},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoMoveRightFront04.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,45}</string>
                <key>spriteSourceSize</key>
                <string>{34,45}</string>
                <key>textureRect</key>
                <string>{{139,42},{34,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoStandingLeftBack01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{459,67},{26,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoStandingLeftBack02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.435484,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{573,48},{31,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoStandingLeftBack03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{495,67},{26,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoStandingLeftFront01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.551724,0.388889}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{163,89},{29,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoStandingLeftFront02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.484848,0.4}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{380,78},{33,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoStandingLeftFront03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.571429,0.388889}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{225,89},{28,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoStandingRightBack01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.423077,0.441176}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{531,70},{26,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoStandingRightBack02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.516129,0.454545}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{567,81},{31,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoStandingRightBack03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.423077,0.441176}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,34}</string>
                <key>spriteSourceSize</key>
                <string>{26,34}</string>
                <key>textureRect</key>
                <string>{{415,95},{26,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoStandingRightFront01.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{194,89},{29,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChocoStandingRightFront02.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.560606,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,35}</string>
                <key>spriteSourceSize</key>
                <string>{33,35}</string>
                <key>textureRect</key>
                <string>{{536,35},{33,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ChocoStandingRightFront03.psd</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,36}</string>
                <key>spriteSourceSize</key>
                <string>{28,36}</string>
                <key>textureRect</key>
                <string>{{421,65},{28,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Choco.png</string>
            <key>size</key>
            <string>{611,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f41c93be630289cef4693df81e26d1:9d4095d90dd53618f098af1283aaac29:69bf693c0c7efd6b1206ccf15305ccd6$</string>
            <key>textureFileName</key>
            <string>Choco.png</string>
        </dict>
    </dict>
</plist>
