<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WalkingFront01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,93}</string>
                <key>spriteSourceSize</key>
                <string>{45,93}</string>
                <key>textureRect</key>
                <string>{{395,384},{45,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingFront02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,93}</string>
                <key>spriteSourceSize</key>
                <string>{46,93}</string>
                <key>textureRect</key>
                <string>{{347,385},{46,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingFront03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{259,98},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingFront04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,95}</string>
                <key>spriteSourceSize</key>
                <string>{45,95}</string>
                <key>textureRect</key>
                <string>{{178,198},{45,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingFront05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,93}</string>
                <key>spriteSourceSize</key>
                <string>{45,93}</string>
                <key>textureRect</key>
                <string>{{396,97},{45,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingFront06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,93}</string>
                <key>spriteSourceSize</key>
                <string>{46,93}</string>
                <key>textureRect</key>
                <string>{{375,289},{46,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingFront07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{277,1},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingFront08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,95}</string>
                <key>spriteSourceSize</key>
                <string>{45,95}</string>
                <key>textureRect</key>
                <string>{{212,99},{45,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeft01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{167,1},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeft02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{201,1},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeft03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.604651,0.494505}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,91}</string>
                <key>spriteSourceSize</key>
                <string>{43,91}</string>
                <key>textureRect</key>
                <string>{{443,96},{43,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeft04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.540541,0.494505}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,91}</string>
                <key>spriteSourceSize</key>
                <string>{37,91}</string>
                <key>textureRect</key>
                <string>{{483,189},{37,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeft05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,91}</string>
                <key>spriteSourceSize</key>
                <string>{29,91}</string>
                <key>textureRect</key>
                <string>{{305,482},{29,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WalkingLeft06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,89}</string>
                <key>spriteSourceSize</key>
                <string>{29,89}</string>
                <key>textureRect</key>
                <string>{{496,1},{29,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeft07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.571429,0.494505}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,91}</string>
                <key>spriteSourceSize</key>
                <string>{42,91}</string>
                <key>textureRect</key>
                <string>{{442,381},{42,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeft08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.540541,0.494624}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,93}</string>
                <key>spriteSourceSize</key>
                <string>{37,93}</string>
                <key>textureRect</key>
                <string>{{412,1},{37,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftFront01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{88,405},{40,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftFront02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{1,307},{44,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftFront03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{132,200},{44,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftFront04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{423,287},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftFront05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{267,194},{44,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftFront06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{324,1},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftFront07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{305,386},{40,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftFront08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{261,389},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftUp01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.513514,0.494845}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,97}</string>
                <key>spriteSourceSize</key>
                <string>{37,97}</string>
                <key>textureRect</key>
                <string>{{127,101},{37,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftUp02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.55,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,98}</string>
                <key>spriteSourceSize</key>
                <string>{40,98}</string>
                <key>textureRect</key>
                <string>{{90,305},{40,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftUp03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.538462,0.494845}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,97}</string>
                <key>spriteSourceSize</key>
                <string>{39,97}</string>
                <key>textureRect</key>
                <string>{{86,101},{39,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftUp04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.55,0.484211}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,95}</string>
                <key>spriteSourceSize</key>
                <string>{40,95}</string>
                <key>textureRect</key>
                <string>{{235,1},{40,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftUp05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.540541,0.478723}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,94}</string>
                <key>spriteSourceSize</key>
                <string>{37,94}</string>
                <key>textureRect</key>
                <string>{{357,193},{37,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftUp06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.55,0.484211}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,95}</string>
                <key>spriteSourceSize</key>
                <string>{40,95}</string>
                <key>textureRect</key>
                <string>{{172,396},{40,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftUp07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.577778,0.489362}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{214,392},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingLeftUp08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.571429,0.489362}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{42,94}</string>
                <key>textureRect</key>
                <string>{{289,290},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRIghtFront01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{45,205},{44,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRight01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.505556}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{132,298},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRight02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{166,298},{32,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRight03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.372093,0.494505}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,91}</string>
                <key>spriteSourceSize</key>
                <string>{43,91}</string>
                <key>textureRect</key>
                <string>{{451,1},{43,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRight04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.418919,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,91}</string>
                <key>spriteSourceSize</key>
                <string>{37,91}</string>
                <key>textureRect</key>
                <string>{{488,94},{37,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRight05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.448276,0.505495}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,91}</string>
                <key>spriteSourceSize</key>
                <string>{29,91}</string>
                <key>textureRect</key>
                <string>{{398,479},{29,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WalkingRight06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.448276,0.494382}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,89}</string>
                <key>spriteSourceSize</key>
                <string>{29,89}</string>
                <key>textureRect</key>
                <string>{{486,379},{29,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRight07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.380952,0.505495}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,91}</string>
                <key>spriteSourceSize</key>
                <string>{42,91}</string>
                <key>textureRect</key>
                <string>{{471,286},{42,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRight08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.405405,0.505376}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,93}</string>
                <key>spriteSourceSize</key>
                <string>{37,93}</string>
                <key>textureRect</key>
                <string>{{396,192},{37,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightFront02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{166,100},{44,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightFront03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{435,192},{46,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightFront04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{306,97},{44,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightFront05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{313,193},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightFront06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{333,289},{40,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightFront07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{352,97},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightFront08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,98}</string>
                <key>spriteSourceSize</key>
                <string>{80,180}</string>
                <key>textureRect</key>
                <string>{{130,405},{40,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightUp01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,97}</string>
                <key>spriteSourceSize</key>
                <string>{37,97}</string>
                <key>textureRect</key>
                <string>{{128,1},{37,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightUp02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.475,0.510204}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,98}</string>
                <key>spriteSourceSize</key>
                <string>{40,98}</string>
                <key>textureRect</key>
                <string>{{86,1},{40,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightUp03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,97}</string>
                <key>spriteSourceSize</key>
                <string>{39,97}</string>
                <key>textureRect</key>
                <string>{{91,200},{39,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightUp04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.484211}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,95}</string>
                <key>spriteSourceSize</key>
                <string>{40,95}</string>
                <key>textureRect</key>
                <string>{{200,295},{40,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightUp06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.484211}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,95}</string>
                <key>spriteSourceSize</key>
                <string>{40,95}</string>
                <key>textureRect</key>
                <string>{{225,196},{40,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightUp07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.444444,0.478723}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,94}</string>
                <key>spriteSourceSize</key>
                <string>{45,94}</string>
                <key>textureRect</key>
                <string>{{242,293},{45,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingRightUp08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.452381,0.478723}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,94}</string>
                <key>spriteSourceSize</key>
                <string>{42,94}</string>
                <key>textureRect</key>
                <string>{{368,1},{42,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingUp01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.52381,0.510204}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,98}</string>
                <key>spriteSourceSize</key>
                <string>{42,98}</string>
                <key>textureRect</key>
                <string>{{1,407},{42,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingUp02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.512195,0.515152}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,99}</string>
                <key>spriteSourceSize</key>
                <string>{41,99}</string>
                <key>textureRect</key>
                <string>{{43,104},{41,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingUp03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.525,0.505051}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,99}</string>
                <key>spriteSourceSize</key>
                <string>{40,99}</string>
                <key>textureRect</key>
                <string>{{44,1},{40,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingUp04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,98}</string>
                <key>spriteSourceSize</key>
                <string>{41,98}</string>
                <key>textureRect</key>
                <string>{{45,407},{41,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingUp05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.505051}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,99}</string>
                <key>spriteSourceSize</key>
                <string>{42,99}</string>
                <key>textureRect</key>
                <string>{{1,206},{42,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingUp06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.512195,0.514851}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,101}</string>
                <key>spriteSourceSize</key>
                <string>{41,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{41,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingUp07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.51}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,100}</string>
                <key>spriteSourceSize</key>
                <string>{40,100}</string>
                <key>textureRect</key>
                <string>{{1,104},{40,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WalkingUp08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,98}</string>
                <key>spriteSourceSize</key>
                <string>{41,98}</string>
                <key>textureRect</key>
                <string>{{47,305},{41,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Walking.png</string>
            <key>size</key>
            <string>{526,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b03096236265fdf80f05def955de3e1b:874f091daf9a6c597b20fc850fcc0010:55f5950589498f27f3de6bfa4383b875$</string>
            <key>textureFileName</key>
            <string>Walking.png</string>
        </dict>
    </dict>
</plist>
